<section class="fanshop-section pt-10 bg-gray">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-8">
        <h1 class="h1 mb-6">E-shop</h1>
        <div class="row gx-xl-10 gy-6">
          <div class="col-xxl-4 col-md-6">
            <div class="fanshopItem">
              <div class="fanshopItem__img">
                <img src="images/content/shop.jpeg" alt="" loading="lazy" />
              </div>
              <div class="fanshopItem__header">
                <h2 class="h3">Tričko červené</h2>
                <h3 class="h3 fanshopItem__header-price">420 Kč</h3>
              </div>
              <form action="" class="fanshopItem__form">
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Velikost</div>
                  <select class="js-select" name="" id="">
                    <option value="">XXL</option>
                    <option value="">XL</option>
                    <option value="">L</option>
                    <option value="">M</option>
                    <option value="">S</option>
                  </select>
                </div>
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Počet kusů</div>
                  <div class="modalForm__input">
                    <div class="counter__btn" data-direction="minus">
                      <img src="images/ico/minus.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      type="text"
                      disabled
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus.svg" alt="" />
                    </div>
                  </div>
                </div>

                <div class="w-100">
                  <button class="link m-auto">Přidat do košíku</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="fanshopItem">
              <div class="fanshopItem__img">
                <img src="images/content/shop.jpeg" alt="" loading="lazy" />
              </div>
              <div class="fanshopItem__header">
                <h2 class="h3">Tričko červené</h2>
                <h3 class="h3 fanshopItem__header-price">420 Kč</h3>
              </div>
              <form action="" class="fanshopItem__form">
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Velikost</div>
                  <select class="js-select" name="" id="">
                    <option value="">XXL</option>
                    <option value="">XL</option>
                    <option value="">L</option>
                    <option value="">M</option>
                    <option value="">S</option>
                  </select>
                </div>
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Počet kusů</div>
                  <div class="modalForm__input">
                    <div class="counter__btn" data-direction="minus">
                      <img src="images/ico/minus.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      type="text"
                      disabled
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus.svg" alt="" />
                    </div>
                  </div>
                </div>

                <div class="w-100">
                  <button class="link m-auto">Přidat do košíku</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="fanshopItem">
              <div class="fanshopItem__img">
                <img src="images/content/shop.jpeg" alt="" loading="lazy" />
              </div>
              <div class="fanshopItem__header">
                <h2 class="h3">Tričko červené</h2>
                <h3 class="h3 fanshopItem__header-price">420 Kč</h3>
              </div>
              <form action="" class="fanshopItem__form">
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Velikost</div>
                  <select class="js-select" name="" id="">
                    <option value="">XXL</option>
                    <option value="">XL</option>
                    <option value="">L</option>
                    <option value="">M</option>
                    <option value="">S</option>
                  </select>
                </div>
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Počet kusů</div>
                  <div class="modalForm__input">
                    <div class="counter__btn" data-direction="minus">
                      <img src="images/ico/minus.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      type="text"
                      disabled
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus.svg" alt="" />
                    </div>
                  </div>
                </div>

                <div class="w-100">
                  <button class="link m-auto">Přidat do košíku</button>
                </div>
              </form>
            </div>
          </div>

          <div class="col-xxl-4 col-md-6">
            <div class="fanshopItem">
              <div class="fanshopItem__img">
                <img src="images/ico/logo.svg" alt="" loading="lazy" />
              </div>
              <div class="fanshopItem__header">
                <h2 class="h3">Tričko červené</h2>
                <h3 class="h3 fanshopItem__header-price">420 Kč</h3>
              </div>
              <form action="" class="fanshopItem__form">
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Velikost</div>
                  <select class="js-select" name="" id="">
                    <option value="">XXL</option>
                    <option value="">XL</option>
                    <option value="">L</option>
                    <option value="">M</option>
                    <option value="">S</option>
                  </select>
                </div>
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Počet kusů</div>
                  <div class="modalForm__input">
                    <div class="counter__btn" data-direction="minus">
                      <img src="images/ico/minus.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      type="text"
                      disabled
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus.svg" alt="" />
                    </div>
                  </div>
                </div>

                <div class="w-100">
                  <button class="link m-auto">Přidat do košíku</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="fanshopItem">
              <div class="fanshopItem__img">
                <img src="images/content/shop.jpeg" alt="" loading="lazy" />
              </div>
              <div class="fanshopItem__header">
                <h2 class="h3">Tričko červené</h2>
                <h3 class="h3 fanshopItem__header-price">420 Kč</h3>
              </div>
              <form action="" class="fanshopItem__form">
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Velikost</div>
                  <select class="js-select" name="" id="">
                    <option value="">XXL</option>
                    <option value="">XL</option>
                    <option value="">L</option>
                    <option value="">M</option>
                    <option value="">S</option>
                  </select>
                </div>
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Počet kusů</div>
                  <div class="modalForm__input">
                    <div class="counter__btn" data-direction="minus">
                      <img src="images/ico/minus.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      type="text"
                      disabled
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus.svg" alt="" />
                    </div>
                  </div>
                </div>

                <div class="w-100">
                  <button class="link m-auto">Přidat do košíku</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="fanshopItem">
              <div class="fanshopItem__img">
                <img src="images/content/shop.jpeg" alt="" loading="lazy" />
              </div>
              <div class="fanshopItem__header">
                <h2 class="h3">Tričko červené</h2>
                <h3 class="h3 fanshopItem__header-price">420 Kč</h3>
              </div>
              <form action="" class="fanshopItem__form">
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Velikost</div>
                  <select class="js-select" name="" id="">
                    <option value="">XXL</option>
                    <option value="">XL</option>
                    <option value="">L</option>
                    <option value="">M</option>
                    <option value="">S</option>
                  </select>
                </div>
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Počet kusů</div>
                  <div class="modalForm__input">
                    <div class="counter__btn" data-direction="minus">
                      <img src="images/ico/minus.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      type="text"
                      disabled
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus.svg" alt="" />
                    </div>
                  </div>
                </div>

                <div class="w-100">
                  <button class="link m-auto">Přidat do košíku</button>
                </div>
              </form>
            </div>
          </div>

          <div class="col-xxl-4 col-md-6">
            <div class="fanshopItem">
              <div class="fanshopItem__img">
                <img src="images/content/logo-2.png" alt="" loading="lazy" />
              </div>
              <div class="fanshopItem__header">
                <h2 class="h3">Tričko červené</h2>
                <h3 class="h3 fanshopItem__header-price">420 Kč</h3>
              </div>
              <form action="" class="fanshopItem__form">
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Velikost</div>
                  <select class="js-select" name="" id="">
                    <option value="">XXL</option>
                    <option value="">XL</option>
                    <option value="">L</option>
                    <option value="">M</option>
                    <option value="">S</option>
                  </select>
                </div>
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Počet kusů</div>
                  <div class="modalForm__input">
                    <div class="counter__btn" data-direction="minus">
                      <img src="images/ico/minus.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      type="text"
                      disabled
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus.svg" alt="" />
                    </div>
                  </div>
                </div>

                <div class="w-100">
                  <button class="link m-auto">Přidat do košíku</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="fanshopItem">
              <div class="fanshopItem__img">
                <img src="images/content/shop.jpeg" alt="" loading="lazy" />
              </div>
              <div class="fanshopItem__header">
                <h2 class="h3">Tričko červenéčervené</h2>
                <h3 class="h3 fanshopItem__header-price">420 Kč</h3>
              </div>
              <form action="" class="fanshopItem__form">
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Velikost</div>
                  <select class="js-select" name="" id="">
                    <option value="">XXL</option>
                    <option value="">XL</option>
                    <option value="">L</option>
                    <option value="">M</option>
                    <option value="">S</option>
                  </select>
                </div>
                <div class="fanshopItem__label">
                  <div class="fanshopItem__label-name">Počet kusů</div>
                  <div class="modalForm__input">
                    <div class="counter__btn" data-direction="minus">
                      <img src="images/ico/minus.svg" alt="" />
                    </div>
                    <input
                      class="counter__value"
                      type="text"
                      disabled
                      value="1"
                    />
                    <div class="counter__btn" data-direction="plus">
                      <img src="images/ico/plus.svg" alt="" />
                    </div>
                  </div>
                </div>

                <div class="w-100">
                  <button class="link m-auto">Přidat do košíku</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        {% include "@components/cartShop/cartShop.twig" %}
      </div>
    </div>
  </div>
</section>
