.infoBoard-section {
  margin-bottom: 40px;
  @include media-breakpoint-down(xl) {
    margin-bottom: 24px;
  }
}
.infoBoard-posts {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
  @include media-breakpoint-down(xl) {
    margin-bottom: 32px;
  }
}

.infoBoard-box {
  background-color: var(--color-light-gray);
  padding: 24px 24px;
  .h3 {
    margin-bottom: 24px;
  }
  &__line {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    span {
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
    }
  }
}
.infoBoard-news + .infoBoard-news {
  margin-top: 32px;
}
