<section class="infoBoard-section">
  <div class="container">
    <div class="row g-xl-10">
      <div class="col-12">
        <div class="infoBoard-posts">
          <div class="infoBoard-posts__header">
            <h3 class="h3">Další zprávy</h3>
            <ul class="menuTabs">
              <li>
                <div class="menuTab active" data-id="tab3">A-tým</div>
              </li>
              <li>
                <div class="menuTab" data-id="tab4">Mládež</div>
              </li>
            </ul>
          </div>
          <div class="menuTab__content tab-active" id="tab3">
            <div class="row gx-xl-10 gy-6 mb-8">
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
            </div>
            <a class="link ml-auto" href="#">Další články</a>
          </div>
          <div class="menuTab__content" id="tab4">
            <div class="row gx-xl-10 gy-6 mb-8">
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
            </div>
            <a class="link ml-auto" href="#">Další články</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
