<section class="infoBoard-section">
  <div class="container">
    <div class="row g-xl-10">
      <div class="col-xl-8">
        <div class="infoBoard-posts">
          <div class="infoBoard-posts__header">
            <h3 class="h3">Další zprávy</h3>
            <ul class="menuTabs">
              <li>
                <div class="menuTab active" data-id="tab3">A-tým</div>
              </li>
              <li>
                <div class="menuTab" data-id="tab4">Mládež</div>
              </li>
            </ul>
          </div>
          <div class="menuTab__content tab-active" id="tab3">
            <div class="row gx-xl-10 gy-6 mb-8">
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
            </div>
            <a class="link ml-auto" href="#">Další články</a>
          </div>
          <div class="menuTab__content" id="tab4">
            <div class="row gx-xl-10 gy-6 mb-8">
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
              <div class="col-lg-6">
                {% include "@components/post/post.twig" %}
              </div>
            </div>
            <a class="link ml-auto" href="#">Další články</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="infoBoard-box">
          <h4 class="h3">Aktuality</h4>
          <div class="infoBoard-news">
            <div class="infoBoard-box__line">
              <h5 class="h4">Hagelin dal hokeji sbohem</h5>
              <span>21. 9. 2023</span>
            </div>
            <p>
              Švédský útočník Carl Hagelin ve 35 letech ukončil profesionální
              kariéru. Na vině je zranění oka. V kariéře získal hned dva Stanley
              Cupy: s Pittsburghem a Washingtonem. S reprezentací pak vybojoval
              stříbro na olympijských hrách.
            </p>
          </div>
          <div class="infoBoard-news">
            <div class="infoBoard-box__line">
              <h5 class="h4">Obránce Hynek bude hrát za Ústí nad Labem</h5>
              <span>21. 9. 2023</span>
            </div>
            <p>
              Dvacetiletý bek Václav Hynek zkusí prorazit do dospělého hokeje v
              dresu ústeckého Slovanu, klub o tom informoval na sociálních
              sítích. Odchovanec litvínovského hokeje minulou sezonu nastupoval
              střídavě za juniorku Vervy a Chomutova.
            </p>
          </div>
        </div>
        <div class="infoBoard-box">
          <h4 class="h3">Narozeniny</h4>
          <div class="infoBoard-box__line">
            <h4 class="h4">David Šimon</h4>
            <span>21. 9. 2023, 18 let</span>
          </div>
          <div class="infoBoard-box__line">
            <h4 class="h4">David Šimon</h4>
            <span>21. 9. 2023, 18 let</span>
          </div>
          <div class="infoBoard-box__line">
            <h4 class="h4">David Šimon</h4>
            <span>21. 9. 2023, 18 let</span>
          </div>
          <div class="infoBoard-box__line">
            <h4 class="h4">David Šimon</h4>
            <span>21. 9. 2023, 18 let</span>
          </div>
          <div class="infoBoard-box__line">
            <h4 class="h4">David Šimon</h4>
            <span>21. 9. 2023, 18 let</span>
          </div>
          <div class="infoBoard-box__line">
            <h4 class="h4">David Šimon</h4>
            <span>21. 9. 2023, 18 let</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
