<section class="players-section pt-10 bg-gray">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-8">
        <h1 class="h1 mb-6">Soupiska</h1>

        <div class="headerSection">
          <select class="js-select">
            <option>Sezóna 2022/2023</option>
            <option value="tipsport">2020/21</option>
            <option value="tipsport">2019/20</option>
            <option value="tipsport">2018/19</option>
            <option value="tipsport">2017/18</option>
          </select>
        </div>

        <div class="players-section__wrapper">
          <div class="o-content">
            <h2 class="h2">Brankáři</h2>
            <table
              cellspacing="0"
              cellpadding="0"
              id="soupiska"
              class="nice roster"
            >
              <tr>
                <th class="cislo center">
                  <a
                    href="soupiska.asp?s=1&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: čísla"
                    >#</a
                  >
                </th>
                <th class="jmeno">
                  <a
                    href="soupiska.asp?s=3&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: jména"
                    >jméno</a
                  >
                </th>
                <th class="narozen">
                  <a
                    href="soupiska.asp?s=4&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: narození"
                    >narozen</a
                  >
                </th>
                <th class="vek">
                  <a
                    href="soupiska.asp?s=4&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: věku"
                    >věk</a
                  >
                </th>
                <th class="vyska">
                  <a
                    href="soupiska.asp?s=5&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: výšky"
                    >výška</a
                  >
                </th>
                <th class="vaha">
                  <a
                    href="soupiska.asp?s=6&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: váhy"
                    >váha</a
                  >
                </th>
                <th class="hul center">
                  <a
                    href="soupiska.asp?s=7&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: hole"
                    >hůl</a
                  >
                </th>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Matej-Halouzka-1087&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1087')"
                onmouseout="ZmenTridu('O','soupiska_1087')"
                class="O"
                id="soupiska_1087"
              >
                <td class="center cislo">69</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1087">Matěj Halouzka</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1087">Halouzka M. </a>
                </td>
                <td class="narozen">20.4.2003</td>
                <td class="vek">20 let</td>
                <td class="vyska">179 cm</td>
                <td class="vaha">80 kg</td>
                <td class="center hul">P</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=David-Sachr-1084&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1084')"
                onmouseout="ZmenTridu('O','soupiska_1084')"
                class="O"
                id="soupiska_1084"
              >
                <td class="center cislo">80</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1084">David Sachr</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1084">Sachr D. </a>
                </td>
                <td class="narozen">27.4.1999</td>
                <td class="vek">24 let</td>
                <td class="vyska">184 cm</td>
                <td class="vaha">86 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Martin-Sindelka-1039&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1039')"
                onmouseout="ZmenTridu('O','soupiska_1039')"
                class="O"
                id="soupiska_1039"
              >
                <td class="center cislo">33</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1039">Martin Šindelka</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1039">Šindelka M. </a>
                </td>
                <td class="narozen">26.4.1999</td>
                <td class="vek">24 let</td>
                <td class="vyska">185 cm</td>
                <td class="vaha">92 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Marek-Stipcak-623&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_623')"
                onmouseout="ZmenTridu('O','soupiska_623')"
                class="O"
                id="soupiska_623"
              >
                <td class="center cislo">30</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=623">Marek Štipčák</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=623">Štipčák M. </a>
                </td>
                <td class="narozen">6.9.2001</td>
                <td class="vek">22 let</td>
                <td class="vyska">182 cm</td>
                <td class="vaha">90 kg</td>
                <td class="center hul">L</td>
              </tr>
            </table>
            <h3 class="h2">Obránci</h3>
            <table
              cellspacing="0"
              cellpadding="0"
              id="soupiska"
              class="nice roster"
            >
              <tr>
                <th class="cislo center">
                  <a
                    href="soupiska.asp?s=1&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: čísla"
                    >#</a
                  >
                </th>
                <th class="jmeno">
                  <a
                    href="soupiska.asp?s=3&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: jména"
                    >jméno</a
                  >
                </th>
                <th class="narozen">
                  <a
                    href="soupiska.asp?s=4&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: narození"
                    >narozen</a
                  >
                </th>
                <th class="vek">
                  <a
                    href="soupiska.asp?s=4&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: věku"
                    >věk</a
                  >
                </th>
                <th class="vyska">
                  <a
                    href="soupiska.asp?s=5&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: výšky"
                    >výška</a
                  >
                </th>
                <th class="vaha">
                  <a
                    href="soupiska.asp?s=6&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: váhy"
                    >váha</a
                  >
                </th>
                <th class="hul center">
                  <a
                    href="soupiska.asp?s=7&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: hole"
                    >hůl</a
                  >
                </th>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Dominik-Ficek-755&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_755')"
                onmouseout="ZmenTridu('O','soupiska_755')"
                class="O"
                id="soupiska_755"
              >
                <td class="center cislo">17</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=755">Dominik Ficek</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=755">Ficek D. </a>
                </td>
                <td class="narozen">25.9.1999</td>
                <td class="vek">24 let</td>
                <td class="vyska">176 cm</td>
                <td class="vaha">80 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Tomas-Havlik-1041&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1041')"
                onmouseout="ZmenTridu('O','soupiska_1041')"
                class="O"
                id="soupiska_1041"
              >
                <td class="center cislo">83</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1041">Tomáš Havlík</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1041">Havlík T. </a>
                </td>
                <td class="narozen">10.1.2002</td>
                <td class="vek">21 let</td>
                <td class="vyska">187 cm</td>
                <td class="vaha">81 kg</td>
                <td class="center hul">P</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=David-Homola-1044&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1044')"
                onmouseout="ZmenTridu('O','soupiska_1044')"
                class="O"
                id="soupiska_1044"
              >
                <td class="center cislo">&nbsp;</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1044">David Homola</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1044">Homola D. </a>
                </td>
                <td class="narozen">4.10.2001</td>
                <td class="vek">22 let</td>
                <td class="vyska">180 cm</td>
                <td class="vaha">75 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Jakub-Kalina-297&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_297')"
                onmouseout="ZmenTridu('O','soupiska_297')"
                class="O"
                id="soupiska_297"
              >
                <td class="center cislo">&nbsp;</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=297">Jakub Kalina</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=297">Kalina J. </a>
                </td>
                <td class="narozen">8.11.2004</td>
                <td class="vek">19 let</td>
                <td class="vyska">189 cm</td>
                <td class="vaha">78 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Marcel-Kunc-926&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_926')"
                onmouseout="ZmenTridu('O','soupiska_926')"
                class="O"
                id="soupiska_926"
              >
                <td class="center cislo">86</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=926">Marcel Kunc</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=926">Kunc M. </a>
                </td>
                <td class="narozen">20.6.2000</td>
                <td class="vek">23 let</td>
                <td class="vyska">178 cm</td>
                <td class="vaha">81 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Petr-Scurek-1042&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1042')"
                onmouseout="ZmenTridu('O','soupiska_1042')"
                class="O"
                id="soupiska_1042"
              >
                <td class="center cislo">23</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1042">Petr Ščurek</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1042">Ščurek P. </a>
                </td>
                <td class="narozen">15.12.1996</td>
                <td class="vek">26 let</td>
                <td class="vyska">189 cm</td>
                <td class="vaha">106 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Ondrej-Sevcik-1086&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1086')"
                onmouseout="ZmenTridu('O','soupiska_1086')"
                class="O"
                id="soupiska_1086"
              >
                <td class="center cislo">15</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1086">Ondřej Ševčík</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1086">Ševčík O. </a>
                </td>
                <td class="narozen">8.1.1999</td>
                <td class="vek">24 let</td>
                <td class="vyska">183 cm</td>
                <td class="vaha">83 kg</td>
                <td class="center hul">P</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Adam-Tomiga-1121&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1121')"
                onmouseout="ZmenTridu('O','soupiska_1121')"
                class="O"
                id="soupiska_1121"
              >
                <td class="center cislo">&nbsp;</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1121">Adam Tomiga</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1121">Tomiga A. </a>
                </td>
                <td class="narozen">22.9.2004</td>
                <td class="vek">19 let</td>
                <td class="vyska">184 cm</td>
                <td class="vaha">78 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Tomas-Valenta-436&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_436')"
                onmouseout="ZmenTridu('O','soupiska_436')"
                class="O"
                id="soupiska_436"
              >
                <td class="center cislo">92</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=436">Tomáš Valenta</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=436">Valenta T. </a>
                </td>
                <td class="narozen">13.4.1992</td>
                <td class="vek">31 let</td>
                <td class="vyska">181 cm</td>
                <td class="vaha">103 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=David-Vosatko-1088&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1088')"
                onmouseout="ZmenTridu('O','soupiska_1088')"
                class="O"
                id="soupiska_1088"
              >
                <td class="center cislo">22</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1088">David Vosátko</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1088">Vosátko D. </a>
                </td>
                <td class="narozen">21.10.2000</td>
                <td class="vek">23 let</td>
                <td class="vyska">185 cm</td>
                <td class="vaha">90 kg</td>
                <td class="center hul">L</td>
              </tr>
            </table>
            <h4 class="h2">Útočníci</h4>
            <table
              cellspacing="0"
              cellpadding="0"
              id="soupiska"
              class="nice roster"
            >
              <tr>
                <th class="cislo center">
                  <a
                    href="soupiska.asp?s=1&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: čísla"
                    >#</a
                  >
                </th>
                <th class="jmeno">
                  <a
                    href="soupiska.asp?s=3&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: jména"
                    >jméno</a
                  >
                </th>
                <th class="narozen">
                  <a
                    href="soupiska.asp?s=4&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: narození"
                    >narozen</a
                  >
                </th>
                <th class="vek">
                  <a
                    href="soupiska.asp?s=4&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: věku"
                    >věk</a
                  >
                </th>
                <th class="vyska">
                  <a
                    href="soupiska.asp?s=5&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: výšky"
                    >výška</a
                  >
                </th>
                <th class="vaha">
                  <a
                    href="soupiska.asp?s=6&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: váhy"
                    >váha</a
                  >
                </th>
                <th class="hul center">
                  <a
                    href="soupiska.asp?s=7&amp;sezona=2024&amp;kategorie=MUZ&amp;typ=&amp;fotosoupiska=0"
                    title="Seřadit podle: hole"
                    >hůl</a
                  >
                </th>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Jakub-Apolenar-1035&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1035')"
                onmouseout="ZmenTridu('O','soupiska_1035')"
                class="O"
                id="soupiska_1035"
              >
                <td class="center cislo">44</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1035">Jakub Apolenář</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1035">Apolenář J. </a>
                </td>
                <td class="narozen">1.9.2001</td>
                <td class="vek">22 let</td>
                <td class="vyska">176 cm</td>
                <td class="vaha">85 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Lukas-Bednar-43&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_43')"
                onmouseout="ZmenTridu('O','soupiska_43')"
                class="O"
                id="soupiska_43"
              >
                <td class="center cislo">41</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=43">Lukáš Bednář</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=43">Bednář L. </a>
                </td>
                <td class="narozen">26.9.1996</td>
                <td class="vek">27 let</td>
                <td class="vyska">175 cm</td>
                <td class="vaha">93 kg</td>
                <td class="center hul">P</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Matous-Ćmiel-1033&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1033')"
                onmouseout="ZmenTridu('O','soupiska_1033')"
                class="O"
                id="soupiska_1033"
              >
                <td class="center cislo">39</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1033">Matouš Ćmiel</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1033">Ćmiel M. </a>
                </td>
                <td class="narozen">20.6.2001</td>
                <td class="vek">22 let</td>
                <td class="vyska">195 cm</td>
                <td class="vaha">91 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Tomas-Franek-1085&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1085')"
                onmouseout="ZmenTridu('O','soupiska_1085')"
                class="O"
                id="soupiska_1085"
              >
                <td class="center cislo">88</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1085">Tomáš Franek</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1085">Franek T. </a>
                </td>
                <td class="narozen">10.5.1994</td>
                <td class="vek">29 let</td>
                <td class="vyska">172 cm</td>
                <td class="vaha">98 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Marek-Haas-616&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_616')"
                onmouseout="ZmenTridu('O','soupiska_616')"
                class="O"
                id="soupiska_616"
              >
                <td class="center cislo">13</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=616">Marek Haas</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=616">Haas M. </a>
                </td>
                <td class="narozen">21.1.1988</td>
                <td class="vek">35 let</td>
                <td class="vyska">176 cm</td>
                <td class="vaha">85 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Jiri-Karafiat-653&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_653')"
                onmouseout="ZmenTridu('O','soupiska_653')"
                class="O"
                id="soupiska_653"
              >
                <td class="center cislo">7</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=653">Jiří Karafiát</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=653">Karafiát J. </a>
                </td>
                <td class="narozen">7.7.1998</td>
                <td class="vek">25 let</td>
                <td class="vyska">182 cm</td>
                <td class="vaha">85 kg</td>
                <td class="center hul">P</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=David-Klimsa-9&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_9')"
                onmouseout="ZmenTridu('O','soupiska_9')"
                class="O"
                id="soupiska_9"
              >
                <td class="center cislo">20</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=9">David Klimša</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=9">Klimša D. </a>
                </td>
                <td class="narozen">9.3.1989</td>
                <td class="vek">34 let</td>
                <td class="vyska">181 cm</td>
                <td class="vaha">85 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Dominik-Kolat-611&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_611')"
                onmouseout="ZmenTridu('O','soupiska_611')"
                class="O"
                id="soupiska_611"
              >
                <td class="center cislo">&nbsp;</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=611">Dominik Kolat</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=611">Kolat D. </a>
                </td>
                <td class="narozen">12.9.2004</td>
                <td class="vek">19 let</td>
                <td class="vyska">174 cm</td>
                <td class="vaha">76 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Simon-Kratochvil-916&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_916')"
                onmouseout="ZmenTridu('O','soupiska_916')"
                class="O"
                id="soupiska_916"
              >
                <td class="center cislo">28</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=916">Šimon Kratochvil</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=916">Kratochvil Š. </a>
                </td>
                <td class="narozen">2.12.1994</td>
                <td class="vek">29 let</td>
                <td class="vyska">189 cm</td>
                <td class="vaha">90 kg</td>
                <td class="center hul">P</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Jan-Krivohlavek-1089&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1089')"
                onmouseout="ZmenTridu('O','soupiska_1089')"
                class="O"
                id="soupiska_1089"
              >
                <td class="center cislo">11</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1089">Jan Křivohlávek</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1089">Křivohlávek J. </a>
                </td>
                <td class="narozen">20.8.1991</td>
                <td class="vek">32 let</td>
                <td class="vyska">186 cm</td>
                <td class="vaha">86 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Adam-Middleton-868&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_868')"
                onmouseout="ZmenTridu('O','soupiska_868')"
                class="O"
                id="soupiska_868"
              >
                <td class="center cislo">&nbsp;</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=868">Adam Middleton</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=868">Middleton A. </a>
                </td>
                <td class="narozen">28.5.2005</td>
                <td class="vek">18 let</td>
                <td class="vyska">181 cm</td>
                <td class="vaha">81 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Jakub-Mrva-813&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_813')"
                onmouseout="ZmenTridu('O','soupiska_813')"
                class="O"
                id="soupiska_813"
              >
                <td class="center cislo">57</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=813">Jakub Mrva</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=813">Mrva J. </a>
                </td>
                <td class="narozen">21.11.2000</td>
                <td class="vek">23 let</td>
                <td class="vyska">176 cm</td>
                <td class="vaha">80 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Simon-Pavlik-1082&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1082')"
                onmouseout="ZmenTridu('O','soupiska_1082')"
                class="O"
                id="soupiska_1082"
              >
                <td class="center cislo">24</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1082">Šimon Pavlík</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1082">Pavlík Š. </a>
                </td>
                <td class="narozen">22.8.2002</td>
                <td class="vek">21 let</td>
                <td class="vyska">189 cm</td>
                <td class="vaha">88 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Dominik-Pawliczek-153&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_153')"
                onmouseout="ZmenTridu('O','soupiska_153')"
                class="O"
                id="soupiska_153"
              >
                <td class="center cislo">29</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=153">Dominik Pawliczek</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=153">Pawliczek D. </a>
                </td>
                <td class="narozen">27.8.1999</td>
                <td class="vek">24 let</td>
                <td class="vyska">183 cm</td>
                <td class="vaha">86 kg</td>
                <td class="center hul">P</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Mateusz-Siekierka-617&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_617')"
                onmouseout="ZmenTridu('O','soupiska_617')"
                class="O"
                id="soupiska_617"
              >
                <td class="center cislo">&nbsp;</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=617">Mateusz Siekierka</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=617">Siekierka M. </a>
                </td>
                <td class="narozen">30.8.2004</td>
                <td class="vek">19 let</td>
                <td class="vyska">170 cm</td>
                <td class="vaha">74 kg</td>
                <td class="center hul">P</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Daniel-Spratek-47&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_47')"
                onmouseout="ZmenTridu('O','soupiska_47')"
                class="O"
                id="soupiska_47"
              >
                <td class="center cislo">27</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=47">Daniel Spratek</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=47">Spratek D. </a>
                </td>
                <td class="narozen">27.6.1997</td>
                <td class="vek">26 let</td>
                <td class="vyska">176 cm</td>
                <td class="vaha">83 kg</td>
                <td class="center hul">L</td>
              </tr>
              <tr
                onclick="window.location='hrac.asp?id=Jiri-Tvrdy-1040&amp;sezona=2024&amp;kategorie=MUZ'"
                onmouseover="ZmenTridu('zvyraznene','soupiska_1040')"
                onmouseout="ZmenTridu('O','soupiska_1040')"
                class="O"
                id="soupiska_1040"
              >
                <td class="center cislo">25</td>
                <td class="jmeno jmeno_long">
                  <a href="hrac.asp?id=1040">Jiří Tvrdý</a>
                </td>
                <td class="jmeno jmeno_short">
                  <a href="hrac.asp?id=1040">Tvrdý J. </a>
                </td>
                <td class="narozen">15.5.2002</td>
                <td class="vek">21 let</td>
                <td class="vyska">171 cm</td>
                <td class="vaha">81 kg</td>
                <td class="center hul">L</td>
              </tr>
            </table>
            <p>
              <b>Průměr:</b> &nbsp; 24 let &nbsp; 181&nbsp;cm &nbsp; 85&nbsp;kg
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4">{% include "@components/aside/aside.twig" %}</div>
    </div>
  </div>
</section>
