<div class="matchItem">
  <div class="matchItem__date">so 23. září, 16:00</div>
  <div class="matchItem__inner">
    <div class="matchItem__logo">
      <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
    </div>
    <div class="matchItem__teams">
      <h4 class="h4">Hokej Vyškov</h4>
      <h4 class="h4 text-yellow">HC Kopřivnice</h4>
    </div>
    <div class="matchItem__logo">
      <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
    </div>
  </div>
  <a href="#" class="matchItem__info lose">2:1</a>
</div>
