<section class="hp-matches">
  <div class="container">
    <ul class="hp-matches__menu menuTabs nav nav-tabs">
      <li>
        <a href="#tab1" data-toggle="tab" class="menuTab active">A-tým</a>
      </li>
      <li>
        <a data-toggle="tab" class="menuTab" href="#tab2">Mládež</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="menuTab__content tab-pane in active" id="tab1">
        <div class="row g-xl-10 g-6">
          <div class="col-xl-4">
            {% include "@components/matchItem/matchItem.twig" %}
          </div>
          <div class="col-xl-4">
            {% include "@components/matchItem/matchItem-time.twig" %}
          </div>
          <div class="col-xl-4">
            {% include "@components/matchItem/matchItem-lose.twig" %}
          </div>
        </div>
      </div>
      <div class="menuTab__content fade" id="tab2">
        <ul class="hp-matches__submenu nav nav-tabs">
          <li>
            <a href="#u19" data-toggle="tab" class="menuTab active">U19</a>
          </li>
          <li>
            <a data-toggle="tab" class="menuTab" href="#u20">U20</a>
          </li>
          <li>
            <a data-toggle="tab" class="menuTab" href="#u12">U12</a>
          </li>
          <li>
            <a data-toggle="tab" class="menuTab" href="#u14">U14</a>
          </li>
          <li>
            <a data-toggle="tab" class="menuTab" href="#u16">U16</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="menuTab__content tab-pane in active" id="u20">
            <div class="row g-xl-10 g-6">
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-lose.twig" %}
              </div>
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-time.twig" %}
              </div>
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-lose.twig" %}
              </div>
            </div>
          </div>
          <div class="menuTab__content tab-pane fade" id="u19">
            <div class="row g-xl-10 g-6">
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-lose.twig" %}
              </div>
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-time.twig" %}
              </div>
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-time.twig" %}
              </div>
            </div>
          </div>
          <div class="menuTab__content tab-pane fade" id="u16">
            <div class="row g-xl-10 g-6">
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-time.twig" %}
              </div>
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-time.twig" %}
              </div>
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-time.twig" %}
              </div>
            </div>
          </div>
          <div class="menuTab__content tab-pane fade" id="u14">
            <div class="row g-xl-10 g-6">
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-lose.twig" %}
              </div>

              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-lose.twig" %}
              </div>
            </div>
          </div>
          <div class="menuTab__content tab-pane fade" id="u12">
            <div class="row g-xl-10 g-6">
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem.twig" %}
              </div>
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-time.twig" %}
              </div>
              <div class="col-xl-4">
                {% include "@components/matchItem/matchItem-lose.twig" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
