<section class="article-section pt-10 bg-gray">
  <div class="container">
    <div class="row g-xl-10">
      <div class="col-xl-8">
        <div class="topstory__main post mb-6">
          <div class="post__img">
            <img src="images/content/post.jpeg" loading="lazy" alt="post" />
            <span class="tag"> 19. 9. 2023 </span>
          </div>
        </div>
        <div class="container-small">
          <div class="o-content decore-b">
            <h1>
              Marodka Liberce se dál plní. Mimo hru i posila, co stav Najmana?
            </h1>
            <div class="perex">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              vel massa quis mauris vehicula lacinia. Duis pulvinar. Fusce
              tellus. Integer malesuada.
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              vel massa quis mauris vehicula lacinia. Duis pulvinar. Fusce
              tellus. Integer malesuada. Class aptent taciti sociosqu ad litora
              torquent per conubia nostra, per inceptos hymenaeos. Aliquam erat
              volutpat. Aliquam erat volutpat. Etiam sapien elit, consequat
              eget, tristique non, venenatis quis, ante. Etiam commodo dui eget
              wisi.
            </p>
            <h2>title h2</h2>
            <h3>title h3</h3>
            <h4>titlt h4</h4>
            <h5>title h5</h5>
            <h6>titlte h6</h6>
            <p>
              Et harum quidem rerum facilis est et expedita distinctio.
              Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac,
              erat. Proin mattis lacinia justo. Suspendisse nisl. Maecenas
              aliquet accumsan leo. Aliquam ornare wisi eu metus.
            </p>

            <img src="images/content/post.jpeg" alt="" loading="lazy" />

            <p>
              Quis autem vel eum iure reprehenderit qui in ea voluptate velit
              esse quam nihil molestiae consequatur, vel illum qui dolorem eum
              fugiat quo voluptas nulla pariatur? Fusce tellus odio, dapibus id
              fermentum quis, suscipit id erat. Duis viverra diam non justo.
              Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit.
              Mauris dictum facilisis augue.
            </p>
            <ol>
              <li>Lorem ipsum</li>
              <li>Dolor si amet</li>
              <li>
                consec tetur adipiscing elit
                <ol>
                  <li>Lorem ipsum</li>
                  <li>Dolor si amet</li>
                  <li>Lorem ipsum</li>
                  <li>Dolor si amet</li>
                </ol>
              </li>
              <li>Nam condimentum tempus diam</li>
            </ol>
            <p>
              Maecenas fermentum, sem in pharetra pellentesque, velit turpis
              volutpat ante, in pharetra metus odio a lectus. Phasellus enim
              erat, vestibulum vel, aliquam a, posuere eu, velit. Integer
              vulputate sem a nibh rutrum consequat. Donec quis nibh at felis
              congue commodo. Et harum quidem rerum facilis est et expedita
              distinctio. Nulla turpis magna, cursus sit amet, suscipit a,
              interdum id, felis. Duis viverra diam non justo. Sed convallis
              magna eu sem. Pellentesque arcu. Aliquam id dolor. Aliquam in
              lorem sit amet leo accumsan lacinia. Aliquam erat volutpat. Etiam
              egestas wisi a erat.
            </p>
            <p>
              Sed ac dolor sit amet purus malesuada congue. Pellentesque ipsum.
              Aliquam ornare wisi eu metus. Maecenas ipsum velit, consectetuer
              eu lobortis ut, dictum at dui. Class aptent taciti sociosqu ad
              litora torquent per conubia nostra, per inceptos hymenaeos. Nulla
              quis diam.
            </p>
            <ul>
              <li>
                <a href="#">Základní informace</a>
              </li>
              <li>
                <a href="#">Historie klubu</a>
              </li>
              <li>Vedení</li>
              <li>
                <a href="#">Kontakty</a>
              </li>
            </ul>
            <p>
              Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque
              eu. Fusce aliquam vestibulum ipsum. Phasellus faucibus molestie
              nisl. Etiam dictum tincidunt diam. In laoreet, magna id viverra
              tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed
              libero.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4">{% include "@components/aside/aside.twig" %}</div>
    </div>
  </div>
  {% include "@components/moreNews/moreNews.twig" %}
</section>
