<section class="moreNews">
  <div class="container">
    <h3 class="h3 mb-6">Další zprávy</h3>
    <div class="row gx-xl-10 gy-6">
      <div class="col-lg-4">{% include "@components/post/post.twig" %}</div>
      <div class="col-lg-4">{% include "@components/post/post.twig" %}</div>
      <div class="col-lg-4">{% include "@components/post/post.twig" %}</div>
    </div>
  </div>
</section>
