<aside class="aside">
   <div class="aside-box aside-box--light">
     <h3 class="h3 mb-4">Klub</h3>
     <ul class="aside-list">
       <li>
         <a href="#">Základní informace</a>
       </li>
       <li>
         <a href="#">Historie</a>
       </li>
       <li>
         <a href="#">Kontakty </a>
       </li>
       <li>
         <a href="#">Vedení klubu</a>
       </li>
     </ul>
   </div>
   <div class="aside-box">
     <h3 class="h3 mb-6">Informace</h3>
     <div class="infoBoard-news">
       <div class="infoBoard-box__line">
         <h5 class="h4">Hagelin dal hokeji sbohem</h5>
         <span>21. 9. 2023</span>
       </div>
       <p>
         Švédský útočník Carl Hagelin ve 35 letech ukončil profesionální
         kariéru. Na vině je zranění oka. V kariéře získal hned dva
         Stanley Cupy: s Pittsburghem a Washingtonem. S reprezentací pak
         vybojoval stříbro na olympijských hrách.
       </p>
     </div>
     <div class="infoBoard-news">
       <div class="infoBoard-box__line">
         <h5 class="h4">Obránce Hynek bude hrát za Ústí nad Labem</h5>
         <span>21. 9. 2023</span>
       </div>
       <p>
         Dvacetiletý bek Václav Hynek zkusí prorazit do dospělého hokeje
         v dresu ústeckého Slovanu, klub o tom informoval na sociálních
         sítích. Odchovanec litvínovského hokeje minulou sezonu
         nastupoval střídavě za juniorku Vervy a Chomutova.
       </p>
     </div>
   </div>
 </aside>