input {
  border: none;
  outline: none;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--color-dark);
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.058922);
  background: var(--color-light);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  height: 48px;
  display: block;
  border: 1px solid transparent;
  transition: all 0.3s;
  &::placeholder {
    color: rgba(#000, 0.42);
  }
  &:focus,
  &:active {
    border: 1px solid var(--color-blue);
  }
}
