.headerSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  @include media-breakpoint-down(xxl) {
    gap: 24px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 24px;
  }
  .select2-container.select2 {
    @include media-breakpoint-down(sm) {
      width: 100% !important;
    }
  }
  &__form {
    display: flex;
    align-items: center;
    gap: 16px;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      gap: 24px;
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }
  &__input {
    width: 440px;
    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: 100%;
    }
  }
  .link {
    @include media-breakpoint-down(sm) {
      margin-left: auto;
    }
  }
  &__filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--color-light);
    width: 100%;
    background-color: var(--color-blue);
    padding: 20px 0;
    .active {
      font-weight: 700;
      text-decoration: none;
      color: var(--color-yellow);
    }
    a {
      padding: 0 8px;
    }
    li {
    }
  }
}
