<div class="cartShop">
  <form action="">
    <div class="cartShop__header">
      <h3 class="h3">Obsah košíku</h3>
      <h3 class="cartShop__price h3">840 Kč</h3>
    </div>
    <div class="cartShop__items">
      <div class="cartShop__item">
        <div class="cartShop__item-title">Tričko červené</div>
        <div class="cartShop__item-info">vel. L / 1 ks</div>
        <div class="cartShop__item-price">420 Kč</div>
        <a href="#">odstranit</a>
      </div>
      <div class="cartShop__item">
        <div class="cartShop__item-title">Tričko červenéčervené</div>
        <div class="cartShop__item-info">vel. L / 1 ks</div>
        <div class="cartShop__item-price">420 Kč</div>
        <a href="#">odstranit</a>
      </div>
    </div>
    <h3 class="h3 mb-6">Dokončení objednávky</h3>
    <input type="text" name="name" required placeholder="Jméno" />
    <input type="text" name="surname" required placeholder="Příjmení" />
    <input type="tel" required placeholder="Telefonní číslo" />
    <input type="email" name="email" placeholder="E-mail" />
    <input type="text" name="address" placeholder="Ulice a číslo popisné" />
    <div class="row g-2">
      <div class="col-sm-4">
        <input type="text" name="psc" required placeholder="PSČ" />
      </div>
      <div class="col-sm-8">
        <input type="text" name="city" required placeholder="Město" />
      </div>
    </div>
    <select class="js-select">
      <option value="">Bankovní převod</option>
      <option value="">Bankovní převod</option>
      <option value="">Bankovní převod</option>
    </select>
    <select class="js-select">
      <option value="">Zásilkovna</option>
      <option value="">Zásilkovna</option>
    </select>
    <button class="link m-auto">Objednat</button>
  </form>
</div>
