<div class="partners">
  <div class="container">
    <div class="row g-xl-10 g-6">
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a href="#" target="_blank" class="partners__item">
          <img
            src="https://placehold.co/200x120/002855/white"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a href="#" target="_blank" class="partners__item">
          <img
            src="https://placehold.co/200x120/002855/white"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a href="#" target="_blank" class="partners__item">
          <img
            src="images/content/partners/partner-1.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a href="#" target="_blank" class="partners__item">
          <img
            src="https://placehold.co/200x120/002855/white"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a href="#" target="_blank" class="partners__item">
          <img
            src="images/content/partners/partner-2.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a href="#" target="_blank" class="partners__item">
          <img
            src="https://placehold.co/200x120/002855/white"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a href="#" target="_blank" class="partners__item">
          <img
            src="https://placehold.co/200x120/002855/white"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a href="#" target="_blank" class="partners__item">
          <img
            src="images/content/partners/partner-3.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a href="#" target="_blank" class="partners__item">
          <img
            src="images/content/partners/partner-6.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a href="#" target="_blank" class="partners__item">
          <img
            src="images/content/partners/partner-4.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a href="#" target="_blank" class="partners__item">
          <img
            src="https://placehold.co/200x120/002855/white"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
        <a href="#" target="_blank" class="partners__item">
          <img
            src="images/content/partners/partner-5.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
    </div>
  </div>
</div>
