<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a href="#" class="footer__logo">
        <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
      </a>
      <div class="copyright">© 2023 HC Kopřivnice & eSports.cz, s.r.o.</div>
      <div class="footer__right">
        <a class="footer__link" href="#"> Nastavení cookies </a>
        <ul class="footer__social">
          <li>
            <a href="#" target="_blank"> {% include "@images/fb.svg" %} </a>
          </li>
          <li>
            <a href="#" target="_blank"> {% include "@images/insta.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
