<a href="#" class="post">
  <div class="post__img">
    <img src="images/content/post.jpeg" loading="lazy" alt="post" />
    <span class="tag"> 19. 9. 2023 </span>
  </div>
  <h2 class="h3">
    Marodka Liberce se dál plní. Mimo hru i posila, co stav Najmana?
  </h2>
</a>
