<a href="#" class="post photoPost" data-gallery="1" data-gallery-id="1">
  <div class="post__img">
    <img src="images/content/post.jpeg" loading="lazy" alt="post" />
    <span class="tag"> {% include "@images/photo-icon.svg" %} 18 </span>
  </div>
  <h2 class="h3">
    Marodka Liberce se dál plní. Mimo hru i posila, co stav Najmana?
  </h2>
</a>
