<section class="topstory">
  <div class="container">
    <div class="row g-xl-10">
      <div class="col-xl-8">
        <div class="row g-xl-10 g-4">
          <div class="col-12">
            <a href="#" class="topstory__main post">
              <div class="post__img">
                <img src="images/content/post.jpeg" loading="lazy" alt="post" />
                <span class="tag"> 19. 9. 2023 </span>
              </div>
              <h1 class="h1">
                Marodka Liberce se dál plní. Mimo hru i posila, co stav Najmana?
              </h1>
            </a>
          </div>
          <div class="col-lg-6">{% include "@components/post/post.twig" %}</div>
          <div class="col-lg-6">{% include "@components/post/post.twig" %}</div>
        </div>
      </div>
      <div class="col-xl-4 d-none d-xl-block">
        <div class="infoBoard-box">
          <h4 class="h3">Aktuality</h4>
          <div class="infoBoard-news">
            <div class="infoBoard-box__line">
              <h5 class="h4">Hagelin dal hokeji sbohem</h5>
              <span>21. 9. 2023</span>
            </div>
            <p>
              Švédský útočník Carl Hagelin ve 35 letech ukončil profesionální
              kariéru. Na vině je zranění oka. V kariéře získal hned dva Stanley
              Cupy: s Pittsburghem a Washingtonem. S reprezentací pak vybojoval
              stříbro na olympijských hrách.
            </p>
          </div>
          <div class="infoBoard-news">
            <div class="infoBoard-box__line">
              <h5 class="h4">Obránce Hynek bude hrát za Ústí nad Labem</h5>
              <span>21. 9. 2023</span>
            </div>
            <p>
              Dvacetiletý bek Václav Hynek zkusí prorazit do dospělého hokeje v
              dresu ústeckého Slovanu, klub o tom informoval na sociálních
              sítích. Odchovanec litvínovského hokeje minulou sezonu nastupoval
              střídavě za juniorku Vervy a Chomutova.
            </p>
          </div>
          <div class="infoBoard-news">
            <div class="infoBoard-box__line">
              <h5 class="h4">Obránce Hynek bude hrát za Ústí nad Labem</h5>
              <span>21. 9. 2023</span>
            </div>
            <p>
              Dvacetiletý bek Václav Hynek zkusí prorazit do dospělého hokeje v
              dresu ústeckého Slovanu, klub o tom informoval na sociálních
              sítích. Odchovanec litvínovského hokeje minulou sezonu nastupoval
              střídavě za juniorku Vervy a Chomutova.
            </p>
          </div>
          <div class="infoBoard-news">
            <div class="infoBoard-box__line">
              <h5 class="h4">Obránce Hynek bude hrát za Ústí nad Labem</h5>
              <span>21. 9. 2023</span>
            </div>
            <p>
              Dvacetiletý bek Václav Hynek zkusí prorazit do dospělého hokeje v
              dresu ústeckého Slovanu, klub o tom informoval na sociálních
              sítích. Odchovanec litvínovského hokeje minulou sezonu nastupoval
              střídavě za juniorku Vervy a Chomutova.
            </p>
          </div>
          <div class="infoBoard-news">
            <div class="infoBoard-box__line">
              <h5 class="h4">Obránce Hynek bude hrát za Ústí nad Labem</h5>
              <span>21. 9. 2023</span>
            </div>
            <p>
              Dvacetiletý bek Václav Hynek zkusí prorazit do dospělého hokeje v
              dresu ústeckého Slovanu, klub o tom informoval na sociálních
              sítích. Odchovanec litvínovského hokeje minulou sezonu nastupoval
              střídavě za juniorku Vervy a Chomutova.
            </p>
          </div>
        </div>
        <!-- <div class="infoBoard-box">
          <h4 class="h3">Narozeniny</h4>
          <div class="infoBoard-box__line">
            <h4 class="h4">David Šimon</h4>
            <span>21. 9. 2023, 18 let</span>
          </div>
          <div class="infoBoard-box__line">
            <h4 class="h4">David Šimon</h4>
            <span>21. 9. 2023, 18 let</span>
          </div>
          <div class="infoBoard-box__line">
            <h4 class="h4">David Šimon</h4>
            <span>21. 9. 2023, 18 let</span>
          </div>
          <div class="infoBoard-box__line">
            <h4 class="h4">David Šimon</h4>
            <span>21. 9. 2023, 18 let</span>
          </div>
          <div class="infoBoard-box__line">
            <h4 class="h4">David Šimon</h4>
            <span>21. 9. 2023, 18 let</span>
          </div>
          <div class="infoBoard-box__line">
            <h4 class="h4">David Šimon</h4>
            <span>21. 9. 2023, 18 let</span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
